<h1>Add a Cohort</h1>


<%= form_for([@course, @cohort]) do |f| %>

  <div>
    <%= f.text_field :name, placeholder: 'Cohort Name' %>
  </div>

  <div>
    <%= f.date_field :start_date, placeholder: 'Start Date' %>
  </div>

  <div>
    <%= f.date_field :end_date, placeholder: 'End Date' %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
