<div class="universal-form">

  <%= form_for([@course, @cohort]) do |f| %>

    <div>
      <%= f.text_field :name, placeholder: 'Cohort Name', autofocus: true %>
    </div>

    <div>
      <%= f.date_field :start_date, placeholder: 'Start Date' %>
    </div>

    <div>
      <%= f.date_field :end_date, placeholder: 'End Date' %>
    </div>

    <div class="submit-btn">
      <%= f.submit %>
    </div>

  <% end %>

</div>