<div class="cohorts-index">

  <%= render 'shared/sidebar' %>

  <div class="cohorts-grid">
    <h1> List of Active Cohorts </h1>

    <div class="cohorts-list">
      <% @cohorts.each do |cohort| %>
        <div class="cohorts-info">
          <h3> <%= link_to cohort.name, cohort_show_path(cohort.slug) %> </h3>
          <p>  From: <%= cohort.start_date %> </p>
          <p>  To: <%= cohort.end_date %> </p>
          <p>  Instructor: <span class="link-instructor"><%= link_to cohort.instructor.full_name, instructor_path(cohort.instructor.slug) unless cohort.instructor == nil  %></span> </p>
          <p>  Attendees: <%= cohort.students.count %> </p>
          <% if current_user.roles == "headmaster" %>
          <section class="cohorts-links">
            <%= link_to 'Edit Details', edit_cohort_path(cohort.slug) %>
            <%= link_to 'Terminate Cohort', course_cohort_path(cohort.course_id, cohort.slug), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'denied' %>
          </section>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

