<div class="instructors-index">

  <h1> Our Notable Instructors </h1>

  <div class="instructors-list">
    <% @instructors.each do |instructor| %>
    <h3> <%= link_to instructor.full_name, instructor_path(instructor.slug) %> </h3>
    <p> Course id#: <%= instructor.course_id %> </p>
    <p> Cohort id#: <%= instructor.cohort_id %> </p>
    <div class="instructors-links">
      <%= link_to 'Edit Details', edit_instructor_path(instructor.slug) %>
      <%= link_to 'Terminate Instructor', course_cohort_instructor_path(instructor.course_id, instructor.cohort_id, instructor.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </div>
</div>