<div class="profile-grid">

  <h1> Instructor Dossier </h1>

  <div class="bio-links">
    <%= link_to 'Back to Cohort', cohort_show_path(@instructor.cohort_id) %> 
    <%= link_to 'Edit Bio', edit_instructor_path %>
  </div>

  <div class="bio-details">
    <h2><%= "#{@instructor.last_name}, #{@instructor.first_name}" %> </h2>
    <p> Age: <%= @instructor.age %> </p>
    <p> Education: <%= @instructor.education %> </p>
    <p> Annual Salary: $ <%= @instructor.salary %> </p>
  </div>

</div>