<aside class="sidebar">

    <h2> <%= check_user %></h2>

    <ul>
      <li><%= link_to 'Courses', courses_path %></li>
      <li><%= link_to 'Cohorts', cohorts_path %></li>
      <li><%= link_to 'Instructors', instructors_path %></li>
      <li><%= link_to 'Students', students_path %></li>
    </ul>
    
</aside>