<div class="courses-show">

  <div class="back-links">
    <%= link_to 'Back', courses_path %>
  </div>
  
  <div class="course-details">
    <h1> <%= @course.title %> course </h1>

    <p>Total Hours: <%= @course.total_hours %></p>
    <p><%= @course.details %></p>
  </div>

  <div class="courses__cohorts">
    <h2> List of Cohorts </h3>

    <div class="cohorts-create">
      <%= link_to 'Add Cohort', new_course_cohort_path(@course.id) unless current_user.roles != "headmaster" %> 
    </div>

    <% @course.cohorts.each do |cohort| %>
    <div class="cohorts-items">
      <span class="cohort-title"> <%= link_to "#{cohort.name}", cohort_show_path(cohort.slug) if cohort != nil %> </span>  &nbsp &nbsp <span class="terminate"> 
        <%= link_to 'Terminate Cohort', course_cohort_path(@course.slug, cohort.slug), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'denied' unless current_user.roles != "headmaster "%> 
      </span>
    </div>
    <% end %>
  </div>

</div>