<h1>Welcome to the <%= @course.title %> course!</h1>
<%= link_to 'Back', courses_path %>

<p>Total Hours: <%= @course.total_hours %></p>

<p><%= @course.details %></p>

<h3> List of Cohorts </h3>

<% @course.cohorts.each do |cohort| %>
  <h4> <%= link_to "#{cohort.name}", cohort_show_path(cohort.slug) if cohort != nil %> </h4>

  <%= link_to 'Terminate Cohort', course_cohort_path(@course.slug, cohort.slug), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div>
  <%= link_to 'Add Cohort', new_course_cohort_path(@course.id) %> 
</div>